@page
@model Dunca_Tarau_Proiect.Pages.Tours.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tours</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Tour GroupSize / Time Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].Location)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.GroupSizeSort">
                @Html.DisplayNameFor(model => model.Tour[0].GroupSize)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TimeSort">
                @Html.DisplayNameFor(model => model.Tour[0].Time)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].StartingTourDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].Country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tour[0].TourCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          @foreach (var item in Model.TourD.Tours) {
               string selectedRow = "";
               if (item.ID == Model.TourID)
                  {
                  selectedRow = "table-success";
                  }

       <tr class="@selectedRow">    
    
         
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingTourDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                        @{
                            foreach (var category in item.TourCategories)
                            {
                                @category.Category.ID @: @category.Category.CategoryName <br />
                            }
                        }
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

